[Unit]
Description=trivialdns
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/trivialdns
Restart=always

[Install]
WantedBy=multi-user.target
